{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:testing-library/recommended"],
  "plugins": ["react", "react-hooks", "prettier", "testing-library"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowFunctions": false,
        "allowBind": false
      }
    ],
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "no-console": 1,
    "react/default-props-match-prop-types": 0,
    "prefer-promise-reject-errors": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  }
}
