/* Reference of color scheme: https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c*/
:root {
  --white: #fdfffc;
  --black: #011627;
  --green: #2ec4b6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--white);
}

a, li {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.login-container {
  width: 60%;
  margin: 200px auto;
  border: 1px solid var(--black);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.login-container img {
  margin: 0 auto;
}

select {
  width: 40%;
  height: 30px;
  font-size: 16px;
  margin: 10px auto;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 10px;
}

.button {
  font-size: 16px;
  width: 200px;
  height: 30%;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}

.button:hover {
  background-color: #32e2d2;
}

.center {
  text-align: center;
}

/* Dashboard */
.tab {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 0 auto;
}

.tab button {
  cursor: pointer;
  width: 110px;
  background: var(--green);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

/* Question List */
.question-list {
  border: 1px solid var(--black);
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

/* Nav */
.nav ul{
  display: flex;
  list-style: none;
}

.nav li {
  height: 20px;
  padding: 10px;
}

/* New Question */
.question {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.question form {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  width: 100%;
  height: 30px;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}

/* Leader Board */
.user-list {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.user {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: 30% 70%;
  grid-template-areas:
  "avatar username"
  "avatar asked"
  "avatar answered"
}

.user.avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.user-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.asked {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

.answered {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
}
