body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a, ul, li {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav li {
  height: 20px;
  padding: 10px;
}


.nav li:last-child {
  margin-left: auto;
}