/* Reference of color scheme: https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c*/
:root {
  --white: #fdfffc;
  --black: #011627;
  --green: #2ec4b6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a, ul, li {
  text-decoration: none;
}

.login-container {
  width: 60%;
  margin: 200px auto;
  border: 1px solid var(--black);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.login-container img {
  margin: 0 auto;
}

select {
  width: 40%;
  height: 30px;
  font-size: 16px;
  margin: 10px auto;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 10px;
}

.button {
  font-size: 16px;
  width: 40%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav li {
  height: 20px;
  padding: 10px;
}


/* .nav li:last-child {
  margin-left: auto;
} */